/* .home {
  height:100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
} */



.container{
  position: relative;
  width: 100%;
  height: 100vh;  
}

.container-img {
  filter: brightness(0.4);
  position: absolute;
   /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%; 
  object-fit: cover;
  z-index: -1;

}

.hovertxt {
  pointer-events: none;

}

.row {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.text {
  color: white;
  width: 45%;
  text-align: left;
  padding-top: 70px;
  padding-left: 20px;
}

.row svg {
  display: inline-block !important;
  position: relative !important;
  width: 50%;
  
}



@media(max-width:1100px) {
  .text {
    text-align: center;
    width: 100%;
  }

  .row svg {
    width: 100%;
  }
}


.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: green;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}


/* @keyframes fadeFromMiddle {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
} */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-500px);
   
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.fade-in-left {
  opacity: 0;
 
  animation: fadeInLeft 1s ease-in-out forwards;
  animation-delay: 1s;
 
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.fade-in-up {
  opacity: 0;
  animation: fade-in-up 1s ease-in-out forwards;
  animation-delay: 2s;
}
/* .fade-from-middle 
{
  animation: fadeFromMiddle 2s ease-in-out;
  
} */