.irrigation-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.forflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
}

.form5-column {
    padding-bottom: 5%;
}

.form5-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.form5-input button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #27ae60;
    color: white;
}

.calc-input-field5 {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
    outline: none;
    /* cursor: pointer; */
    /* font-family: "League Spartan", sans-serif !important; */
    transition: background-color 0.3s;
}

.output-form5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.2rem;
    border: 2px solid #27ae60;
    border-radius: 5% !important;
    width: 30%;
    box-shadow: 0px 5px 15px rgba(0,0,0, 0.2);
    margin-top: 2%;
}

.location {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
    outline: none;
    /* cursor: pointer; */
    /* font-family: "League Spartan", sans-serif !important; */
    transition: background-color 0.3s;
}

.calc-input-field5-readonly {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #e9e6e6;
    color: #333;
    outline: none;
    /* cursor: pointer; */
    /* font-family: "League Spartan", sans-serif !important; */
    transition: background-color 0.3s;
}

.calc-dropdown5 {
    width: 65%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
    outline: none;
    cursor: pointer;
    /* font-family: "League Spartan", sans-serif !important; */
    transition: background-color 0.3s;
}

.calc-dropdown5:hover {
    background-color: #beffd9; 
  }
  
  .calc-dropdown5:focus {
    background-color: #e0e0e0; 
  }
  
  .calc-dropdown5 option {
    padding: 10px;
    background-color: white;
  }
  
  .calc-dropdown5 option:hover {
    background-color: #8cffbc;
  }
  
  .calc-dropdown5::-ms-expand {
    display: none; 
  }