.calc {
    padding-top: 4%;
    /* background: radial-gradient(circle at 10% 20%, rgb(87, 108, 117) 0%, rgb(37, 50, 55) 100.2%); */
    /* background-image: url('../components/images/calc_bg.jpg');
    background-attachment: fixed;
    margin: 0;
    height: 180vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* filter: brightness(0.6); */
    /* height: 100vh; */
}
/* 
.calc-bg {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.7)
} */

.mainform {
    box-shadow: 0px 10px 30px rgba(0,0,0, 0.2);
    background-color: #E7ECF2;
    width: 50%;
    border-radius: 10px;
}

.mainform4 {
    box-shadow: 0px 10px 30px rgba(0,0,0, 0.2);
    /* background-color: #0f9d58; */
    background-color: #E7ECF2;
    width: 50%;
    border-radius: 10px;
}

.mainform3 {
    box-shadow: 0px 10px 30px rgba(0,0,0, 0.2);
    /* background-color: #0f9d58; */
    background-color: #E7ECF2;
    width: 80%;
    border-radius: 10px;
}

table {
    position: relative;
    width: 100%;
    /* background-color: white; */
}

.form1, .form2 {
    cursor: pointer;
}

.activeForm{
    background-color: white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.2);
    border-top: 4px solid #0f9d58;
}
td {
    padding : 0px;
}