
.dropdown-container{
    margin-top: 20px;
}
.state-dropdown {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .state-dropdown:hover {
    background-color: #e0e0e0;
  }
  
  .state-dropdown:focus {
    background-color: #e0e0e0; 
  }
  
  .state-dropdown option {
    padding: 10px;
  }
  
  
  .state-dropdown::-ms-expand {
    display: none; 
  }
  
  .state-dropdown option:checked {
    display: none; 
  }
  
  